        {% extends 'reviews/base.html' %}
        {% block content %}
        <h1>Groupes</h1>
        <a href="{% url 'band-create' %}">Créer un nouveau groupe</a>
        <!--<p>j'ai {{ field_name|length }} groupes préférés :</p>
        <p>
            J'ai..
            {% if field_name|length < 5 %}
                peu de
            {% elif field_name|length < 10 %}
                quelques
            {% else %}
                beaucoup de
            {% endif %}
                groupes préférés.
        </p>-->
        <!-- TODO : liste des groupes -->
        <ul>{% for item in field_name %}
                <li>
                        <a href="{% url 'band-detail' item.id %}">{{ item.name|upper }}</a>
                        <a href="{% url 'band-update' item.id %}">[modifier]</a>
                </li>
            {% endfor %}
        </ul>

        {% endblock %}
         <!--<ul>
              !--<li>{{ first_name.name }}</li>--
             <li>{{ first_name.0.name }}</li>
             <li>{{ first_name.1.name }}</li>
             <li>{{ first_name.2.name }}</li>
         </ul>-->
